main{
    display: flex;
    justify-content: center;
    margin: 15px 20% 15px;
    flex-wrap: wrap;
}
table, th {
    width: 60%;
    border-bottom: 1px solid black;
    text-align: start;
    font-weight: normal;
  }

  table{
      border-bottom: none;
  }
  h1, h2 a{
      color: green;
  }
  .carne::before{
    content: url(../imagenes/iconocarne.png)
}
.pas p:first-of-type{
    font-style: italic;
}
.paginacion {
	margin:20px 0;
    width: 700px;
    background-color: gainsboro;
    border-radius: 20px;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
    
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#0aec0a;
    color: #fff;
    font-weight: bold;
}

.paginacion ul li .active {
    color: gray;
	font-weight:bold;
}