main{
    display: flex;
    justify-content: center;
    margin: 15px 20% 15px;
}
table, th {
    width: 60%;
    border-bottom: 1px solid black;
    padding: 30px;
  }
  table{
      border-bottom: none;
  }
   table a{
       text-decoration: none;
       color: green;
   }
   .carne::before{
       content: url(../imagenes/iconocarne.png)
   }
   .pasta::before{
    content: url(../imagenes/iconopasta.png)
}
.cocteles::before{
    content: url(../imagenes/iconococtel.png)
}
.postres::before{
    content: url(../imagenes/iconopostre.png)
}