aside{
    width: 15%;
    float: left;
    margin-left: 7%;
    color: gray;
    text-align: center;
}
aside div{
    background-color: gainsboro;
}
aside div :last-child{
    background-color: #7ABA96;
    color: black;
}
aside p:first-of-type{
    color: black;
}
.gris{
    text-align: start;
}
main{
    width: 60%;
    float: right;
    margin-right: 7%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

section{
    width: 40%;
    text-align: center;
    padding: 20px;
}
section img{
    width: 100%;
}
section a{
    color: black;
    text-decoration: none;
}
section a:hover{
    color: #8A8070;
}
section p:first-of-type{
    border: 2px solid #7ABA96;
    border-left: 0px;
    border-right: 0px;
}
section p:last-of-type{
    text-align: start;
}
footer{
    clear: both;
}